.anchor-wrapper {
  width: 160px;

  :global(.ddmc-anchor) {
    width: 100%;
  }

  :global(.ddmc-anchor-link) {
    margin: 6px 0;
  }

  :global(.ddmc-anchor-link-title) {
    font-size: 16px;
    line-height: 36px;
    height: 36px;
    padding: 0 16px;
    border-radius: 4px;
  }

  :global(.ddmc-anchor-lineless .ddmc-anchor-link-active > .ddmc-anchor-link-title) {
    background-color: rgba(var(--primary-6));
    color: var(--color-white);
  }
}
