@import '../../../style/theme/default.less';

@ddmc-overflow-prefix-cls: ~'@{prefix}-overflow';

.@{ddmc-overflow-prefix-cls} {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  overflow: hidden;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;

  &-item {
    display: inline-flex;
    max-width: 100%;

    &-hidden {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }
  }

  // &-suffix-item {
  //   display: inline-flex;
  //   max-width: 100%;
  // }
}
